.container{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 15px;
}

body {
    background: rgb(28, 29, 32);
}

h1{
    font-family: 'Turret Road', sans-serif;
    color: white;
}

p{
    font-family: "sans-serif";
    color: white;
}



#main-header{
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

#main-title{
    color: blue;
    font-size: 70px;
}

.simulation-button{
    display: block;
    height: 200px;
    border-radius: 15px;
    background-color: white;
}

.simulation-button:hover {
    transform: scale(1.03);
}

#simulation-buttons-container{
    display: grid;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 650px));
    padding: 25px;
    margin: 50px;
}



#simulation-header{
    min-height: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.main-page-link{
    height: 70px;
    width:90px;
}

.main-page-link .logo{
    height: 90%;
    width: auto;
}

.simulation-title{
    text-align: center;
}

.simulation-settings-container{
    position: relative;
}

.simulation-settings-button{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
}

.simulation-settings-button span {
    display: block;
    height: 3px;
    margin: 5px;
    background: white;
    border-radius: 3px;
}

.simulation-settings-container .simulation-settings-panel{
    position: absolute;
    top: 60px;
    right: -25px;
    background-color: white;
    border-radius: 15px;
    display: none;
}