
.container{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 15px;
}

body {
    background: rgb(28, 29, 32);
}

h1{
    font-family: 'Turret Road', sans-serif;
    color: white;
}

p{
    font-family: "sans-serif";
    color: white;
}