.main-header{
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.main-h1{
    font-family: 'Turret Road', sans-serif;;
    color: blue;
    font-size: 70px;
}

body {
    background: rgb(28, 29, 32);
}

.simulation-button{
    display: block;
    height: 200px;
    border-radius: 15px;
    background-color: white;
}

.simulation-button:hover {
    transform: scale(1.03);
}

.simulation-buttons{
    display: grid;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 650px));
    padding: 25px;
    border-radius: 15px;
    margin: 50px;
}

.container{
    border: 1px solid gray;
}