html, body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.settings {
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;

    width: 250px;
    max-width: 100%;
    box-sizing: border-box;

    overflow-y: auto;
}

.settings label {
    display: flex;
    flex-direction: row;
}

.settings input[type="checkbox"] {
    transform: scale(0.5);
}

.settings input {
    width: 100%;
    margin: 0 10px;
    box-sizing: border-box;
}

canvas {
    flex: 1 1 auto;
    display: block;
    width: 100%;
    height: 100%;
}
