#simulation-header{
    min-height: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid gray;
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: rgb(28, 29, 32);
}

.simulation-wrapper{
    display: flex;
    margin: 80px 0 0 0;
    height: calc(100vh - 80px);
}

#simulation-content{
    flex: 1;
    background-color: white;
}

.main-page-link{
    height: 70px;
    width:90px;
}

.main-page-link .logo{
    height: 90%;
    width: auto;
}

.simulation-title{
    text-align: center;
}

.simulation-settings-button{
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
}

.simulation-settings-button span {
    display: block;
    height: 3px;
    margin: 5px;
    background: white;
    border-radius: 3px;
}

.simulation-settings-panel{
    display: none;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 0;
    width:450px;
    padding: 15px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
}

.field label {
    font-size: 17px;
    color: white;
    font-family: 'Turret Road', sans-serif;
}

.field input[type="number"], .field select {
    width: 140px;
    padding: 7px 9px;
    border-radius: 8px;
    border: 1px solid blue;
    background: rgb(28, 29, 32);
    color: white;
    outline: none;
    box-sizing: border-box;
}

.selector{
    margin-bottom: 10px;
}

.selector-title {
    margin-bottom: 8px;
    font-size: 17px;
    color: white;
}

.settings-buttons-container {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.settings-buttons-container button {
    padding: 9px 12px;
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    flex: 1;
    background-color: gray;
}

.settings-buttons-container button.active {
    background-color: blue;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 9px;
    margin: 10px 0;
    font-size: 17px;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
}